<div class="row bg-light text-primary shadow-sm fixedElement">
  <div class="col-md-4 ms-4 text-start">
    <a class="navbar-brand" routerLink="/home">Medlab</a>
  </div>

  <div class="col-md-6 text-end m-auto">
    <a class="navbar-brand m-2 cursor" (click)="reDirectToCart()"><i class="bi bi-cart3 m-2"><span
          class="cartCount ">{{cartCount | async}}</span></i>Cart</a>
    <a class="navbar-brand">About_Us</a>
    <a class="navbar-brand ms-4" data-bs-toggle="modal" *ngIf="!userLoggedIn" data-bs-target="#loginModal"
      #loginBtn>Log-In</a>
    <h1>{{user?.userName}}</h1>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel" *ngIf="isLoggedIn">Sign-UP</h1>
        <h1 class="modal-title fs-5" id="exampleModalLabel" *ngIf="!isLoggedIn ">LogIn</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeBtn></button>
      </div>
      <div class="modal-body">
        <app-signup *ngIf="isLoggedIn"></app-signup>
        <app-login *ngIf="!isLoggedIn" (signInSuccess)="onLogin()"></app-login>
      </div>

      <button type="button" class="btn btn-primary" (click)="changeAction()" *ngIf="!isLoggedIn">Sign-Up</button>
      <button type="button" class="btn btn-primary" (click)="changeAction()" *ngIf="isLoggedIn">Login</button>

    </div>
  </div>
</div>